		body{
			font-family: tahoma;
			letter-spacing: .125em;
		}
		#diver{
			position: absolute;
			top:60px;
			left:15px;
			width:385px;
			height: 80px;
			background-image: url('../images/diver_sprite.png');
		}
		.lossLife{
			position: absolute;
			left:275px;
			top:-10px;
			color: red;
			font-weight: bold;
			font-size: 2em;
		}
		.spear{
			width:47px;
			height:5px;
			background-image: url('../images/spear.png');
			position: absolute;
			top:100px;
			left:100px;
		}
		.shark{
			position: absolute;
			background-image: url('../images/shark.png');
			width: 500px;
			height: 174px;
		}
		.target{
			position: absolute;
			top:50px;
			left:60px;
			width: 170px;
			height: 76px;
		}
		.plusPoints{
			color: white;
			font-size: 1.5em;
			font-weight: bold;
			position: absolute;
			left:-5px;
			top:0;
		}
		.shadow{
			background-image: url('../images/targetShadow.png');
			width: 278px;
			height: 184px;
			position: absolute;
		}
		.t1{
			background-image: url('../images/target1.png');
		}
		.t2{
			background-image: url('../images/target2.png');
		}
		.t3{
			background-image: url('../images/target3.png');
		}
		#gameStage{
			position: absolute;
			background-image: url('../images/background.jpg');
			background-position: 0px 0px;
			left:0;
			top: 0;
			right:0;
			height: 100%;
			max-height: 600px;
			overflow: hidden;
		}		
		.intro{
			position:absolute;
			top:0;
			left:0;
			width: 100%;
		}
		#airBar{
			position: absolute;
			top:5px;
			left:225px;
			border:1px solid black;
			width: 200px;
			height:30px;
			text-indent: .5em;
			display: none;
		}
		.airBar{
			height:30px;
			width:100%;
			background-color: cadetblue;
			color: black;
			font-size: 1.5em;
			font-weight: bold;
			text-align: left;
		}
		#lifeBar{
			position: absolute;
			top:5px;
			left:5px;
			border:1px solid black;
			width: 200px;
			height:30px;
			text-indent: .5em;
			display: none;
		}
		.lifeBar{
			height:30px;
			width:100%;
			background-color: #FF3F3F;
			color: black;
			font-size: 1.5em;
			font-weight: bold;
			text-align: left;
		}
		#score{
			position: absolute;
			top: 5px;
			left: 592px;
			font-size: 1.5em;
			color:orangered;
			display: none;
			font-weight: bold;
		}
		#gunLvl{
			position: absolute;
			top: 5px;
			left: 445px;
			font-size: 1.5em;
			color:orangered;
			display: none;
			font-weight: bold;
		}
		.winnerAlert{
			position: absolute;
			top:120px;
			width: 100%;
			text-align: center;
			font-size: 12em;
			font-weight: bold;
			color:rgba(57,96,97,.10);
			display: none;
		}
		.airAlert{
			position: absolute;
			top:120px;
			width: 100%;
			text-align: center;
			font-size: 12em;
			font-weight: bold;
			color:rgba(57,96,97,.10);
			display: none;
		}
		#pause{
			cursor: pointer;
			display: none;
			position: absolute;
			right: 50px;
			top:5px;
		}
		h1{
			font-size: 60px;
			text-align: center;
			margin: 0 0 0.4em;
			width: 100%;
			color:orangered;
		}
		p{
			color: orangered;
			font-size: 1.25rem;
			text-align: center;
			background-color: white;
			padding: .5rem 0;
		}
		.threeColTargets{
			margin: -25px auto;
			width:848px;
		}
		.threeColTargets img:first-child{
			margin-left: 150px
		}
		.threeColTargets img:nth-child(2){
			margin-left: -100px;
		}
		.threeColTargets img:last-child{
			margin-left: -100px
		}
		.button{
			width: 300px;
			height: 100px;
			line-height: 100px;
			font-size: 50px;
			margin: 0.5em auto;
			color:white;
			border-radius: 30px;
			text-align: center;
			cursor: pointer;
			background-color:orangered;
		}
		.button:hover{
			background-color: orange;
	}